venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
**/.env
**/.env.*
secrets/
*.sqlite3
staticfiles/
media/
celerybeat-schedule.*
celery_beat.log
celery_worker.log
