venv/
media/
static/
staticfiles/
venv/
SourceData/
XDocs/
Xrequests_scripts/
__pycache__
.env
celery_beat.log
celerybeat-schedule.dir
celerybeat-schedule.bak
celerybeat-schedule.dat
test.py
LesEtaps.txt
.DS_Store
db.sqlite3

client_profile/templates/client_profile/X_product_form copy.html 
client_profile/templates/client_profile/X_product_form.html 
client_profile/templates/client_profile/x_table.html 
client_profile/templates/client_profile/x_user_scraped_data.html