{% extends 'layouts/base.html' %}

{% block content %}
<head>
    <title>
      {% if product %}
        {{ product.TITLE }}
      {% else %}
        Create Product
      {% endif %}
    </title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<h1>
    {% if product %}
      {{ product.TITLE }}
    {% else %}
      Create Product
    {% endif %}
</h1>

<form method="POST" enctype="multipart/form-data" action="{% if product %}{% url 'client_profile:product_edit' product.id %}{% else %}{% url 'client_profile:product_create' %}{% endif %}">
    {% csrf_token %}
    {{ form.as_p }}

    <h2>Photos</h2>
    <div id="photos-formset">
        {{ photo_formset.management_form }}
        {% for form in photo_formset %}
            <div class="photo-form">
                {{ form.as_p }}
                <button type="button" class="remove-form">Remove</button>
            </div>
        {% endfor %}
    </div>
    <button type="button" id="add-photo-form">Add Photo</button>

    <h2>Accounts and URLs</h2>
    <div id="accounts-formset">
        {{ account_link_formset.management_form }}
        {% for form in account_link_formset %}
            <div class="account-form">
                {{ form.as_p }}
                <button type="button" class="remove-form">Remove</button>
            </div>
        {% endfor %}
    </div>
    <button type="button" id="add-account-form">Add Another Account</button>

    <button type="submit">Save</button>
</form>
  
  <script>
    $(document).ready(function() {
      // Photo formset logic (kept as-is)
      var formsetDiv = $('#photos-formset');
      var totalForms = $('#id_photos-TOTAL_FORMS');
      var formsetPrefix = 'photos';
      var formCount = parseInt(totalForms.val());
  
      $('#add-photo-form').click(function() {
    var newForm = $('#photos-formset').children('.photo-form').first().clone(true);
    var formCount = parseInt($('#id_photos-TOTAL_FORMS').val());
    newForm.find('input').each(function() {
        var name = $(this).attr('name').replace('-0-', '-' + formCount + '-');
        var id = 'id_' + name;
        $(this).attr({ 'name': name, 'id': id }).val('');
    });
    newForm.find('textarea').each(function() {
        var name = $(this).attr('name').replace('-0-', '-' + formCount + '-');
        var id = 'id_' + name;
        $(this).attr({ 'name': name, 'id': id }).val('');
    });
    $('#photos-formset').append(newForm);
    formCount++;
    $('#id_photos-TOTAL_FORMS').val(formCount);
});  

      $('.remove-form').click(function() {
    var formCount = parseInt($('#id_photos-TOTAL_FORMS').val());
    formCount--;
    $('#id_photos-TOTAL_FORMS').val(formCount);
    $(this).closest('.photo-form').remove();
});

  
      // Account formset logic (updated)
      var accountFormsetDiv = $('#account-links-formset');
      var accountTotalForms = $('#id_account_links-TOTAL_FORMS');
      var accountFormCount = parseInt(accountTotalForms.val());
  
      $('#add-account-form').click(function() {
    var newForm = $('#account-links-formset').children('.account-form').first().clone(true);
    var formCount = parseInt($('#id_product_account_links-TOTAL_FORMS').val());
    newForm.find('input').each(function() {
        var name = $(this).attr('name').replace('-0-', '-' + formCount + '-');
        var id = 'id_' + name;
        $(this).attr({ 'name': name, 'id': id }).val('');
    });
    newForm.find('textarea').each(function() {
        var name = $(this).attr('name').replace('-0-', '-' + formCount + '-');
        var id = 'id_' + name;
        $(this).attr({ 'name': name, 'id': id }).val('');
    });
    $('#account-links-formset').append(newForm);
    formCount++;
    $('#id_product_account_links-TOTAL_FORMS').val(formCount);
});

$('.remove-account-form').click(function() {
    var formCount = parseInt($('#id_product_account_links-TOTAL_FORMS').val());
    $(this).closest('.account-form').remove();
    formCount--;
    $('#id_product_account_links-TOTAL_FORMS').val(formCount);
    $('#account-links-formset').children('.account-form').each(function(index) {
        $(this).find('input').each(function() {
            var name = $(this).attr('name').replace('-' + (index + 1) + '-', '-' + index + '-');
            var id = 'id_' + name;
            $(this).attr({ 'name': name, 'id': id });
        });
        $(this).find('textarea').each(function() {
            var name = $(this).attr('name').replace('-' + (index + 1) + '-', '-' + index + '-');
            var id = 'id_' + name;
            $(this).attr({ 'name': name, 'id': id });
        });
    });
});

    });
  </script>

{% endblock %}