{% extends 'layouts/base.html' %}

{% block content %}
<head>
    <title>
        {% if product %}
            Edit Product - {{ product.TITLE }}
        {% else %}
            Create Product
        {% endif %}
    </title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
  
<h1>
    {% if product %}
        Edit Product - {{ product.TITLE }}
    {% else %}
        Create Product
    {% endif %}
</h1>

<form method="POST" enctype="multipart/form-data" 
      action="{% if product %}{% url 'client_profile:product_edit' product.id %}{% else %}{% url 'client_profile:product_create' %}{% endif %}">
    {% csrf_token %}
    {{ product_form.as_p }}
  
    <!-- Photos Section -->
    <h2>Photos</h2>
    <div id="photos-formset">
        {{ photo_formset.management_form }}
        {% for form in photo_formset %}
            <div class="photo-form">
                {{ form.as_p }}
                <button type="button" class="remove-form">Remove</button>
            </div>
        {% endfor %}
    </div>
    <button type="button" id="add-photo-form">Add Photo</button>
  
    <!-- Accounts and URLs Section -->
    <h2>Accounts and URLs</h2>
    <div id="accounts-formset">
        {{ account_link_formset.management_form }}
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                    <tr>
                        <th class="account">Account</th>
                        <th class="url">URL</th>
                        <th class="delete">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in account_link_formset %}
                        <tr class="account-row">
                            <td>
                                <div class="related-widget-wrapper" data-model-ref="account">
                                    {{ form.account }}
                                </div>
                            </td>
                            <td class="field-url">
                                <p class="url">
                                    {% if form.url.value %}
                                        Currently: <a href="{{ form.url.value }}" target="_blank">{{ form.url.value }}</a><br>
                                    {% endif %}
                                    Change: {{ form.url }}
                                </p>
                            </td>
                            <td class="delete">
                                {{ form.DELETE }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <button type="button" id="add-account-btn">Add Another Account</button>
  
    <!-- Submit Button -->
    <button type="submit">Save</button>
    
    {% if not product %}
        <button type="submit" name="save_and_add">Save and Add Another</button>
    {% endif %}
</form>

<!-- JavaScript for Dynamic Form Handling -->
<script>
    $(document).ready(function() {
        var accountTotalForms = $('#id_accounts-TOTAL_FORMS');
        var photoTotalForms = $('#id_photos-TOTAL_FORMS');

        var accountFormIdx = parseInt(accountTotalForms.val(), 10);
        var photoFormIdx = parseInt(photoTotalForms.val(), 10);

        $('#add-account-btn').click(function() {
            var newAccountRow = $('<tr class="account-row">' + $('#accounts-formset .account-row:first').html() + '</tr>');
            $('#accounts-formset tbody').append(newAccountRow);

            newAccountRow.find(':input').each(function() {
                var name = $(this).attr('name').replace('-0-', '-' + accountFormIdx + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });

            accountFormIdx++;
            accountTotalForms.val(accountFormIdx);
        });

        $('#add-photo-form').click(function() {
            var newPhotoDiv = $('<div class="photo-form">' + $('#photos-formset .photo-form:first').html() + '</div>');
            $('#photos-formset').append(newPhotoDiv);

            newPhotoDiv.find(':input').each(function() {
                var name = $(this).attr('name').replace('-0-', '-' + photoFormIdx + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });

            photoFormIdx++;
            photoTotalForms.val(photoFormIdx);
        });

        // Remove form on clicking the remove button
        $('#accounts-formset').on('click', '.remove-form', function() {
            $(this).closest('.account-row').remove();
            updateFormIndices();
        });

        $('#photos-formset').on('click', '.remove-form', function() {
            $(this).closest('.photo-form').remove();
            updateFormIndices();
        });

        function updateFormIndices() {
            $('#accounts-formset .account-row').each(function(index) {
                $(this).find(':input').each(function() {
                    var name = $(this).attr('name').replace(/-\d+-/, '-' + index + '-');
                    var id = 'id_' + name;
                    $(this).attr({'name': name, 'id': id});
                });
            });

            $('#photos-formset .photo-form').each(function(index) {
                $(this).find(':input').each(function() {
                    var name = $(this).attr('name').replace(/-\d+-/, '-' + index + '-');
                    var id = 'id_' + name;
                    $(this).attr({'name': name, 'id': id});
                });
            });

            accountTotalForms.val($('#accounts-formset .account-row').length);
            photoTotalForms.val($('#photos-formset .photo-form').length);
        }
    });
</script>

{% endblock %}
