{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %} 

<!-- Slide toggle -->
<!-- <style> 
  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style> -->
<script>
  // Auto-dismiss alert after 5 seconds (5000 ms)
  document.addEventListener("DOMContentLoaded", function () {
    const alertElement = document.querySelector(".alert-dismissible");
    if (alertElement) {
      setTimeout(() => {
        alertElement.classList.remove("show"); // Remove 'show' class
        alertElement.classList.add("fade");   // Optionally add 'fade' class for transition
        alertElement.style.display = "none";  // Hide the alert
      }, 5000); // 5000 ms = 5 seconds
    }
  });
</script>


<div class="container-fluid py-4">

  {% if messages %}
  <div class="container mt-4">
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}


<div class="row mt-4">
  <h1>Current Price Status </h1>
</div>


<div class="col-12">
  <div class="card">
    <div class="card-header pb-0">
      <div class="row">
        <div class="col-lg-6 col-7">
          <p class="text-sm mb-0">
            The table's last update was on <span style="font-weight: bold;" >{{ latest_scraped_date|date:"F j, Y, g:i a" }}</span>
        </div>
      </div>
    </div>

    <div class="card-body px-0 pb-2">

      <div class="container-fluid">
        <div class="raw">

          <form action="{% url 'dashboard:trigger_scrape_for_user_products' %}" method="post">
            {% csrf_token %}
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit">Update Price Now</button>
            </div>
          </form>
        
        </div>
      </div>
      
      <div class="container-fluid">
        <div class="raw">
      <!-- Product and Column Selection Form -->
      <div class="d-grid gap-2">

      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Filter Prodcuts and columns 
      </button>
      </div>

      <div class="collapse" id="collapseExample">
      
      <form method="get" id="filter-form" class="mb-4">
        <div class="row g-3">
            <!-- Product Dropdown -->
            <div class="col-md-6">
                <label for="products" class="form-label fw-bold">Select Products:</label>
                <select id="products" name="products" class="form-select" multiple>
                    {% for product in all_products %}
                        <option value="{{ product.id }}" {% if product.id|stringformat:"s" in selected_product_ids %}selected{% endif %}>
                            {{ product.TITLE }}
                        </option>
                    {% endfor %}
                </select>
                <small class="text-muted">Hold Ctrl (Windows) or Command (Mac) to select multiple products.</small>
            </div>
      
            <!-- Columns Checkbox Dropdown -->
            <div class="col-md-6">
              <label for="columns">Select Columns to Display:</label><br>
              {% for column in columns %}
                  <input type="checkbox" name="columns" value="{{ column.name }}" id="{{ column.name }}"
                        {% if column.name in selected_columns %}checked{% endif %}>
                  <label for="{{ column.name }}">{{ column.header }}</label><br>
              {% endfor %}
            </div>


            
        </div>
      
        <!-- Submit Button -->
        <div class="mt-4">
            <button type="submit" class="btn btn-success w-100">Apply Filters</button>
        </div>
      </form>
      
      </div>
        
        </div>
      </div>
      
      <div class="card-body px-0 pb-2">
          <div class="table-responsive">
              <!-- Product Table -->
              <table class="table align-items-center mb-0" id="CurrentPriceStatus" class="display">
                <thead>
                    <tr>
                        <th class="text-center">Product</th>
                        {% for column in columns %}
                            <th class="text-center">{{ column.header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for data in max_scraped_data %}
                        <tr>
                            <td>{{ data.product.TITLE }}</td>
                            {% for column in columns %}
                                <td class="text-center">
                                    {% if "_price" in column.name or "_discount" in column.name %}
                                        {{ data|get_item2:column.name|floatformat:"2"|default_if_none:"N/A" }}
                                    {% elif "_compliance_flag" in column.name %}
                                        {% if data|get_item2:column.name %}
                                            <span class="badge bg-success">Compliant</span>
                                        {% else %}
                                            <span class="badge bg-danger">Non-Compliant</span>
                                        {% endif %}
              
                                    {% elif "promo_flag" in column.name %}
                                      {% if data.promo_flag %}
                                        <span class="badge badge-sm bg-gradient-success">{{data.discount_percentage}}%</span>        
              
                                        {% else %}
                                        <span class="badge badge-sm bg-gradient-secondary">OFF</span>        
                                        {% endif %}
                
                                    {% elif "RSP" in column.name %}
                                        {{ data.product.RSP|floatformat:"2" }}
              
                                    {% elif "final_price" in column.name %}
                                        {{ data.product.final_price|floatformat:"2" }}
              
                                    {% elif "amazon_sold_by" in column.name %}
                                      {{ data.amazon_sold_by }}
              
                                    {% elif "noon_sa_sold_by" in column.name %}
                                      {{ data.noon_sa_sold_by }}
              
                                    {% elif "opps" in column.name %}
                                      {{ data.opps|floatformat:"2" }}
              
                                    {% elif "price_deviation_score" in column.name %}
                                      {{ data.price_deviation_score|floatformat:"2" }}                        
                                    {% elif "account_deviation_score" in column.name %}
                                      {{ data.account_deviation_score|floatformat:"2" }}                        
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
          </div>
      </div>
      
      <div class="col p-4">
        <a href="{% url 'dashboard:toggle_pin_table' 'CurrentPriceStatus' %}" >
            {% if is_table_pinned %}
                Unpin Table
            {% else %}
                Pin Table
            {% endif %}
        </a>
      </div>

    </div>
  </div>
</div>


</div>



<!-- <script>
  document.addEventListener('DOMContentLoaded', function () {
    // Select all popover elements and initialize them
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
  });
</script> -->





{% include "includes/footer.html" %}

{% endblock content %}

